@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000 !important;
  color: white;
  font-family: 'Inter', sans-serif;

  /* Textura visível tipo carbono */
  background-image:
    repeating-linear-gradient(45deg, #111 0px, #111 2px, #000 2px, #000 4px),
    repeating-linear-gradient(-45deg, #111 0px, #111 2px, #000 2px, #000 4px),
    radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.1), rgba(0, 0, 0, 0.9) 70%);
  background-size: 8px 8px, 8px 8px, 100% 100%;
  background-blend-mode: overlay;
  background-attachment: fixed;

  animation: carbonMove 10s linear infinite;
}

@keyframes carbonMove {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 10px 10px, -10px -10px, 0 0;
  }
  100% {
    background-position: 0 0, 0 0, 0 0;
  }
}

/* Animação do brilho */
@keyframes carbonShine {
  0% {
    background-position: 0 0, 4px 4px, 0% 50%;
  }
  50% {
    background-position: 0 0, 4px 4px, 100% 50%;
  }
  100% {
    background-position: 0 0, 4px 4px, 0% 50%;
  }
}

a {
  transition: color 0.2s, transform 0.2s;
}

a:hover {
  transform: scale(1.05);
}
