@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Inter', sans-serif;
  background-image: radial-gradient(#111 1px, transparent 1px);
  background-size: 20px 20px;
}

a {
  transition: color 0.2s, transform 0.2s;
}

a:hover {
  transform: scale(1.05);
}
