@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

body {
  @apply text-white bg-neutral-900;
  font-family: 'Orbitron', sans-serif;
}

/* Fundo tipo fibra de carbono */
.bg-carbon {
  background-color: #0a0a0a;
  background-image: radial-gradient(#111 1px, transparent 1px),
    radial-gradient(#111 1px, transparent 1px);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
